global
    log /dev/log    local0
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  dontlognull
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http_front
    bind *:443
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }

    use_backend be_domain1 if { req_ssl_sni -i ilovehafifa.com }
    use_backend be_domain2 if { req_ssl_sni -i iloveclouds.com }

backend be_domain1
{% for server in groups['hafifa_servers'] %}
    server {{ server }} {{ hostvars[server].ansible_host }}:443 check
{% endfor %}

backend be_domain2
{% for server in groups['clouds_servers'] %}
    server {{ server }} {{ hostvars[server].ansible_host }}:443 check
{% endfor %}
