[defaults]
inventory      = $HOME/ITtoolsRepo/plays/inventory
roles_path    = $HOME/ITtoolsRepo/plays/roles
forks          = 10
remote_user = automation
host_key_checking = False

[privilege_escalation]
become = False
